body {
    font-family: Rubik;
    font-size: 14px;
}

.wrapper {
    background: rgb(242, 242, 242);
    border: 1px solid #000;
    max-width: 1180px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 30px;
    text-transform: uppercase;
}

h3 {
    font-size: 20px;
}

button {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #000;
    border-radius: 7px;
}

/* ================HEADER================== */
.header {
    background: rgb(228, 228, 228);
    padding: 20px 10px;
    display: flex;
    align-items: center;
}

.header__title {
    flex: 1 1 auto;
    text-align: center;
}

.header__clock {
    width: 10%;
    font-size: 18px;
    text-align: right;
    margin-right: 20px;
}

.hour {}

.min {}

.sec {}

/* ================MAIN================== */
.main {
    display: flex;
    flex: 1 1 auto;
    padding-top: 10px;
}

/* ================ASIDE================== */
.aside {
    /* background: rgb(99, 83, 125); */
    max-width: 300px;
    padding-left: 5px;
}

/* -----------------TODO------------------ */
.to-do-list {
    /* border-bottom: 1px solid #000; */
    box-shadow: 0px 2px 5px rgba(8, 36, 38, 0.45);
    padding: 5px;
    margin-bottom: 20px;
}

.to-do-list__title {
    margin-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}

.changeTask {
    position: fixed;
    top: 150px;
    background: rgb(204, 204, 204);
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    width: 300px;
    height: 120px;
    padding: 20px;
    display: none;
}

.changeTask input {
    margin-bottom: 10px;
    padding: 3px;
}

.to-do-list__input-panel {
    display: flex;
    flex-direction: column;
}

.to-do-list__box {}

.to-do-list__box input {
    margin-bottom: 10px;
    padding: 3px;
}

#taskNameInput {
    width: 80%;
}

.to-do-list__input-footer {
    margin-bottom: 10px;
}

.to-do-list__input-footer button {}

.to-do-list__input-footer select {
    margin: 3px;
    padding: 5px;
}

/* добавить прокрутку */
.to-do-list__task-list {
    overflow: auto;
    max-height: 250px;
}

.task {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 3px;
    border: 1px solid #000;
}

.task input {
    margin: 3px;
}

.task p {
    margin: 0 3px;
}

.task p:first-of-type {
    flex: 1 1 auto;
}

.task p:last-of-type {
    font-size: 12px;
}

.task button {
    margin-left: auto;
}

.task img {
    cursor: pointer;
}

.completed {
    background: rgb(65, 103, 84);
    color: #fff;
}

.completed p {
    text-decoration: line-through;
}

.no-time {
    background: rgb(198, 122, 114);
    color: #fff;
}

/* -----------------CONVERTER------------------ */
.converter {
    /* border-bottom: 1px solid #000; */
    background: linear-gradient(to bottom, #e5e5e5 0%, #fcfcfc 54%);/ box-shadow: 0px 2px 5px rgba(8, 36, 38, 0.45);
}

.converte__title {
    margin-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}

.converter__box {
    margin-bottom: 10px;
}

.converter__inputBox {
    margin-bottom: 10px;
    display: flex;
}

.converter__inputBox select {
    margin: 3px 10px 3px 0;
    padding: 5px;
    font-size: 10px;
}

.converter__inputBox input {
    width: 50px;
    margin: 3px;
    padding: 3px;
}

.converter__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.converter__kursNow {
    margin-bottom: 10px;
}

.converter__result {
    margin-bottom: 20px;
}

/* ================ARTICLE================== */
.article {
    /* background: rgb(98, 125, 83); */
    margin-left: 10px;
    flex: 1 1 auto;
}

.article__wrapper {
    display: flex;
}

/* -----------------NEWS------------------ */

.article__news {
    margin-right: 20px;
    display: flex;
    flex-direction: column;

}

.news {}

.news__urlToImage {
    padding: 5px;
    margin-bottom: 10px;
    background: linear-gradient(to bottom, #e5e5e5 0%, #fcfcfc 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /* background: rgb(240, 240, 240); */
    box-shadow: 0px 2px 3px rgba(8, 30, 30, 0.3);
}

.news__urlToImage img {
    width: 150px;
    float: left;
    /* Вирівнювання по лівому краю */

    margin: 7px 7px 7px 0;
    /* Відступи навколо картинки */
}

.news__title {}

.news__title h4 {
    font-size: 18px;
    line-height: 24px;
    text-decoration: underline;
}

.news__description {
    flex: 1 1 auto;
    margin-bottom: 5px;
}

.news__description p {
    text-align: justify;
    padding: 0 5px;
    font-size: 14px;
    line-height: 18px;
}


.news__author {
    display: flex;
    justify-content: end;
    padding-right: 10px;
    font-size: 10px;
    font-style: italic;
}

.news__author p {
    font-size: 10px;
    margin-left: 20px;
}


.news__url {}

/* -----------------WEATHER------------------ */

.article__weather {
    margin: 20px 10px 0 0;
    width: 30%;
    height: 250px;
    background: #fff;
    box-shadow: 0px 5px 20px rgba(8, 36, 38, 0.25);

}

.weather__form {
    background: rgb(41, 70, 111);
    padding: 10px;
    margin-bottom: 20px;
}

.form__title {
    padding-bottom: 10px;
    text-align: center;
    color: #fff;
}

.form__search {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form__search input {
    border-radius: 5px;
    padding: 5px 3px;
    margin-bottom: 10px;
}

.form__search button {
    /* margin: 0 3px; */
    padding: 5px;
    border-radius: 5px;
}

.weather__body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-box {
    background: rgb(255, 255, 255);
    box-shadow: 0px 5px 20px rgba(27, 108, 114, 0.25);
    border-radius: 10%;
    padding: 5px;
    width: 80%;

    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

.info__city {}

.info__temperature {
    font-size: 28px;
    font-weight: 800;
}

.info__temperature sup {
    font-size: 18px;
}

.info__around {}

.weather-box__picture {}

.weather-box__picture img {}

/* ================FOOTER================== */
.footer {
    background: rgb(228, 228, 228);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__text {
    margin-right: 10px;
    font-size: 12px;
}

.footer img {
    width: 13px;
}